body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient( 288deg,  rgba(0,85,255,1) 1.5%, rgba(4,56,115,1) 91.6% );
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2em;

  /* Flexbox to center content */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Gray box with shadow */
  background-color: #f5f5f5; /* Light gray */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 8px;
  overflow: hidden;

  /* Responsive max-width */
  max-width: 90vw;
  width: 400px; /* Arbitrary width, can adjust as needed */
}

input {
  padding: 0.5em;
  margin: 0.5em 0;
  display: block;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 0.5em 1em;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.correct-guesses {
  background-color: #333;
  color: white;
  padding: 14px 16px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;  /* Ensure it stays on top */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 40px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px 12px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}