body {
  margin: 0;
  background-image: linear-gradient( 288deg,  rgba(0,85,255,1) 1.5%, rgba(4,56,115,1) 91.6% );
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2em;

  /* Flexbox to center content */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Gray box with shadow */
  background-color: #f5f5f5; /* Light gray */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 8px;
  overflow: hidden;

  /* Responsive max-width */
  max-width: 90vw;
  width: 400px; /* Arbitrary width, can adjust as needed */
}

input {
  padding: 0.5em;
  margin: 0.5em 0;
  display: block;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 0.5em 1em;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
  outline: none; 
}

button:hover {
  background-color: #45a049;
}

.correct-guesses {
  background-color: #333;
  color: white;
  padding: 14px 16px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; /* Ensure it stays on top */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 100%;         
  overflow-x: auto;    
  display: block;          
}

.table-wrapper{
  overflow-x: auto;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.game-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 90vw;
  gap: 20px;
  overflow: hidden;
}

.global-scores-container,
.player-info-container {
  flex: 1;
  padding: 2em;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.global-scores-container {
  padding: 2em;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

h2 {
  margin-bottom: 20px;
}


.player-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 768px) {
  .game-container {
    flex-direction: column;
  }
}

.navbar-dropdown {
  display: block;
  position: relative;
  cursor: pointer;
  padding-right: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  right: 0;
  z-index: 11; /* Ensure it stays above the navbar */
}

.navbar-dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .navbar-dropdown {
    display: block; /* Show on mobile */
  }

  /* This class will be toggled by JS */
  .dropdown-content.show {
    display: block;
  }
}

.dropdown-content .btn {
  border: 1px solid #333;
}

#Profile {
  margin-bottom: 5px;
}

#SubmitGame{
  margin-right: 5px;
}